/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:whitesmoke;
    padding: 10px;
  }
  
  .logo img {
    max-height: 40px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  /* Main content styles */
  main {
    overflow: hidden; /* Hide any overflowing content */
  }
  
  section {
    padding: 100px;
    color: #fff;
  }
  
  #home {
    position: relative;
    height:90vh;
    overflow: hidden;
    text-align: center;
    
  }
  
  .video-container {
    padding: 30px 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .explore-btn {
    padding: 12px 24px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .explore-btn:hover {
    background-color: #ddd;
  }
  
  #about {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
   
    
  }
  
  .about-info {
    flex: 1;
    padding: 20px;
  }
  
  .about-video {
    flex: 1;
    position: relative;
    min-height: 300px;
  }
  
  .about-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #contact {
    background-color: #333;
    text-align: center;
    padding: 80px 0;
  }
  
  /* Media queries for responsive design */
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 20px;
    }
  
    nav ul li {
      display: block;
      margin: 10px 0;
    }
  
    main section {
      padding: 50px;
    }
  }
  
  /* Add more media queries as needed for additional responsiveness */
  